body { font-size: 16px; }

div#content { font-size:18px; }

h1 { font-size:22px; }
h2 { font-size:18px; }

div.breadcrumb { font-size:16px; }

div.search-results p a { font-size:16px; }

div#support_us_links a { font-size:18px; }

div#support_us_address h2 { font-size:16px; }